/* ************GLOBAL************* */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

/* ************COMBINED ************* */

main,article, form, .item {
    display: flex;
}

header, footer {
    flex: 1;
    height: 11vh;
    background-color: greenyellow;
}

label, form {
    width: max-content;
    background-color: beige;
}
header, footer, article, aside, nav {
    padding: 1em;
}

/* ************DESCENDANTS ************* */

main aside, nav {
    flex: 0 0 20vh;
}

main aside {
    background-color: honeydew;
}

main nav {
    background-color: gray;
}

main article {
    flex-direction: column;
    flex: 1;
    align-items: center;
}

form div {
    padding: 1em;
}

form div div {
    padding: 0px;
    font: 14px "Fira Sans", sans-serif;
}

.item label, input {
    margin: 3px;
    padding: 3px;
}


/* ************PSEUDO CLASSES ************* */
button:hover {
    outline: 1px solid black;
}


/* ************Items************* */

h1{
    align-self: flex-start;
}
.item {
    justify-content: flex-end;
}

button {
    border: none;
    margin-top: 1em;
    padding: 1em;
    background-color: darkgrey;
}
