@import url(../typefaces/typefaces.css);
:root {
    --font-main: 'Gilroy', sans-serif;
    --font-secondary: 'Secondary Font', serif;
}


/* **************** BAMIS **************** */

* {
    font-family: var(--font-main);
}

.paragraph-text {
    font-family: var(--font-secondary);
}
.text-main{
    color:#47BA7A;
}
.bg-main{
    background-color: #18B984;
}

.btn-green-moon {
    background: #18B984;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #18B984);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #47BA7A, #56ab2f, #47BA7A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}

/* **************** LAYOUT **************** */

.page-cover{
    display: grid;
    grid-template-areas: 
    "page-cover-header " 
    "page-cover-section" 
    "page-cover-footer";
    grid-template-columns: 1fr;
    grid-template-rows:max-content 1fr max-content ;
    height: 100vh;
}

.page-cover-header{
    grid-area: page-cover-header;
}
.page-cover-section{
    grid-area: page-cover-section;
    position: relative;
}

.page-cover-footer{
    grid-area: page-cover-footer;
}

.cover-content{
    width: 50vh;
    position: relative;
}

/* **************** Background **************** */


.page-cover-section::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url("../../media/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }



  
  
/* @media screen and (max-width:768px) {
    .page-cover{
        display: grid;
        grid-template-areas: 
        "page-cover-header" 
        "page-cover-section-text" 
        "page-cover-section-image" 
        "page-cover-footer";
        grid-template-columns: 1fr;
        grid-template-rows:max-content max-content 1fr max-content ;
        height: 100vh;
    }
} */